name: Tests

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  unit_tests:
    name: Unit Tests
    if: "contains(github.event.commits[0].message, '[ci skip]') == false"
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos
          - ubuntu
        ruby:
          - 3.1
          - 3.2
          - 3.3
        allow_failures:
          - false
    env:
      BUNDLE_GEMFILE: "${{ matrix.gemfile }}"
      ALLOW_FAILURES: "${{ matrix.allow_failures }}"
    runs-on: ${{ matrix.os }}-latest
    continue-on-error: ${{ endsWith(matrix.ruby, 'head') || matrix.ruby == 'debug' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Install Appraisal Dependencies
        run: bundle exec appraisal install
      - name: Test with Rails 7.0
        run: bundle exec appraisal rails-7-0 rake spec
      - name: Test with Rails 7.1
        run: bundle exec appraisal rails-7-1 rake spec
